This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [91]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'LruAovWP-YVsCWSxytXQ'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [92]:
# First, import the relevant modules
import requests
import json

In [93]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url= "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?api_key="+API_KEY
r = requests.get(url)
r.status_code

200

In [94]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data = r.json()

__These are your tasks for this mini project:__

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

# Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD)

In [95]:
url= "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?+&start_date=2017-01-01&end_date=2017-12-31&"+API_KEY
r_2017 = requests.get(url)
# Checking the response status code. The result should be 200 if the data is imported properly.
r_2017.status_code

200

# Convert the returned JSON object into a Python dictionary.

In [96]:
json_data_2017 = r_2017.json()
type(json_data_2017)

dict

# Calculate what the highest and lowest opening prices were for the stock in this period.

In [97]:
for k in json_data_2017.keys():
    print(k)

dataset_data

In [98]:
len(json_data_2017['dataset_data'])

10

In [99]:
json_data_2017['dataset_data'].keys()

dict_keys(['limit', 'transform', 'column_index', 'column_names', 'start_date', 'end_date', 'frequency', 'data', 'collapse', 'order'])

In [100]:
json_data_2017['dataset_data']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [101]:
len(json_data_2017['dataset_data']['data'])

255

In [102]:
json_data_2017['dataset_data']['data'][0:5]

[['2017-12-29',
  51.76,
  51.94,
  51.45,
  51.76,
  None,
  34640.0,
  1792304.0,
  None,
  None,
  None],
 ['2017-12-28',
  51.65,
  51.82,
  51.43,
  51.6,
  None,
  40660.0,
  2099024.0,
  None,
  None,
  None],
 ['2017-12-27',
  51.45,
  51.89,
  50.76,
  51.82,
  None,
  57452.0,
  2957018.0,
  None,
  None,
  None],
 ['2017-12-22',
  51.05,
  51.5,
  50.92,
  51.32,
  None,
  71165.0,
  3641949.0,
  None,
  None,
  None],
 ['2017-12-21',
  51.16,
  51.52,
  50.9,
  51.4,
  None,
  120649.0,
  6179433.0,
  None,
  None,
  None]]

In [103]:
import numpy as np
open_lst = []
for datum in json_data_2017['dataset_data']['data']:
    open_lst.append(datum[1])

np_open = np.asarray(open_lst, dtype=np.float64)

In [104]:
np_open

array([51.76, 51.65, 51.45, 51.05, 51.16, 51.88, 52.73, 52.37, 52.7 ,
       53.11, 52.64, 52.29, 52.28, 51.5 , 50.89, 50.8 , 51.21, 49.5 ,
       49.52, 48.64, 49.64, 49.09, 49.13, 49.11, 48.8 , 48.4 , 47.25,
       46.57, 47.03, 47.09, 47.98, 48.4 , 48.38, 47.3 , 47.65, 46.42,
       46.16, 45.81, 45.  , 45.88, 46.29, 46.53, 45.48, 45.2 , 45.01,
       45.16, 44.9 , 45.08, 45.72, 46.01, 45.8 , 45.61, 45.5 , 45.58,
       45.97, 45.64, 46.2 , 46.19, 46.01, 45.36, 44.51, 43.58, 42.  ,
       42.35, 42.3 , 42.3 , 41.48, 42.29, 42.54, 42.65, 42.5 , 42.29,
       42.35, 42.49, 43.21, 42.81, 42.7 , 43.  , 42.66, 43.  , 42.38,
       42.16, 42.  , 42.  , 41.71, 42.11, 42.64, 42.72, 42.82, 42.46,
       42.42, 42.28, 41.88, 42.4 , 42.53, 42.12, 41.3 , 41.73, 43.5 ,
       44.9 , 45.85, 45.13, 45.34, 45.25, 45.24, 44.94, 45.26, 45.16,
       44.91, 44.7 , 45.31, 45.57, 45.74, 45.06, 45.5 , 45.6 , 45.07,
       44.67, 44.29, 44.94, 44.64, 44.79, 45.5 , 44.67, 45.83, 45.29,
       45.01, 45.73, 46.68, 47.23, 46.95, 47.29, 47.03, 47.46, 46.48,
       46.9 , 45.66, 46.34, 46.52, 46.5 , 47.31, 46.77, 47.8 , 47.01,
       47.12, 46.8 , 46.12, 45.22, 45.05, 45.61, 44.8 , 44.8 , 43.92,
       43.67, 44.16, 43.74, 44.  , 45.06, 45.15, 45.09, 45.18, 43.4 ,
       43.5 , 41.83, 43.  , 42.52, 41.86, 42.2 , 41.89,   nan, 42.17,
       41.51, 41.88, 41.93, 42.01, 41.97, 42.5 , 41.94, 42.24,   nan,
         nan, 42.06, 42.02, 41.62, 41.46, 40.9 , 40.96, 41.1 , 39.5 ,
       40.15, 39.77, 40.02, 39.39, 38.95, 38.73, 38.94, 39.01, 38.25,
       41.8 , 41.26, 41.47, 41.4 , 41.4 , 41.2 , 41.4 , 41.53, 41.61,
       41.13, 41.5 , 41.25, 41.12, 41.38, 41.19, 40.38, 39.75, 39.77,
       39.72, 39.6 , 38.85, 39.25, 38.8 , 38.8 , 38.5 , 38.81, 37.37,
       36.65, 36.2 , 35.98, 35.56, 36.06, 36.02, 35.95, 34.75, 35.24,
       35.38, 34.83, 35.07, 34.42, 34.  , 34.04, 34.54, 35.04, 35.04,
       35.06, 34.85, 34.98, 35.38, 34.95, 34.8 , 35.29, 34.91, 35.02,
       35.48, 35.9 , 34.99])

In [105]:
np.nanmin(np_open), np.nanmax(np_open)

(34.0, 53.11)

# What was the largest change in any one day (based on High and Low price)?

In [106]:
low_lst = []
high_lst = []
data_2017_dct = json_data_2017['dataset_data']['data']
for datum in data_2017_dct:
    low_lst.append(datum[3])
    high_lst.append(datum[2])
np_low = np.asarray(low_lst, dtype=np.float64)
np_high = np.asarray(high_lst, dtype=np.float64)
print("Answer: The largest change in any one day (based on High and Low price) was {}".format(round(np.nanmax(np_high - np_low), 3)))

Answer: The largest change in any one day (based on High and Low price) was 2.81

# What was the largest change between any two days (based on Closing Price)?

In [108]:
close_lst = []
for datum in data_2017_dct:
    close_lst.append(datum[4])

np_close = np.asarray(close_lst, dtype=np.float64)

print("Answer: Largest change between any two days was {}".format(round(np.nanmax(np_close)- np.nanmin(np_close)),3))

Answer: Largest change between any two days was 19

# What was the average daily trading volume during this year?

In [109]:
trade_lst = []
for datum in data_2017_dct:
    trade_lst.append(datum[6])

np_trade = np.asarray(trade_lst, dtype=np.float64)

print("Answer: The average daily trading volume during 2017 was {}".format(round(sum(np_trade)/len(np_trade), 3)))

Answer: The average daily trading volume during 2017 was 89124.337

# (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [110]:
print("Answer: The median trading volume during 2017 was {}".format(round(np.median(np_trade), 3)))

Answer: The median trading volume during 2017 was 76286.0